<launch> 
	<arg name = "arg1" default = "1"/>
	<arg name = "bagRecord" default = "false"/>

	<include file= "$(find gazebo_ros)/launch/empty_world.launch"/> 
	
	<node pkg = "gazebo_tutorial"
		type = "main"
		name = "speaker"
		args = "$(arg arg1)"
		output = "screen"/>

	<param name= "robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro'" />

	<node args="-urdf -param robot_description -model  turtlebot3_waffle   " name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"/>
	
	<node 
		pkg = "rosbag"
		type = "record"
		name = "rosbag_rec"
		args = "record --duration=15 -a -O $(find gazebo_tutorial)/results/bag"
		if = "$(arg bagRecord)"
	   />

</launch>
